extends ../layout

block content
    h2 Update Book

    form(action="/books/"+book.id,method="post")
        include new-form
        p
            input(type="submit", value="Update Book")
        p 
            a(href="/books") Cancel
        p
            a(href="/books/"+book.id+"/delete") Delete Book